<%- include ('../layouts/admin_header') -%>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Edit Category</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin/category">Category</a></li>
                <li class="breadcrumb-item active">Edit a Category</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <a class="btn btn-primary" href="/admin/category">Back to all Categories</a>
                </div>

                <div class="card-body">
                    <form method="post" action="/admin/category/edit-category/<%= cat.id %>">
                        <div class="form-group">
                            <label for="">Edit</label>
                            <input type="text" class="form-control" name="name" value="<%= cat.name %>"
                                placeholder="Name">
                        </div>

                        <button class="btn btn-success mt-2">Edit</button>
                    </form>
                </div>

            </div>
        </div>
    </main>
    <%- include ('../layouts/admin_footer') -%>