<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+B%C3%A1ch+khoa+-+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+TP.HCM/@10.7731312,106.6587181,17.29z/data=!4m12!1m6!3m5!1s0x31752ec3c161a3fb:0xef77cd47a1cc691e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIC0gxJDhuqFpIGjhu41jIFF14buRYyBnaWEgVFAuSENN!8m2!3d10.7733743!4d106.6606193!3m4!1s0x31752ec3c161a3fb:0xef77cd47a1cc691e!8m2!3d10.7733743!4d106.6606193?hl=vi">Viet Nam</a>
            <a href="#">Japan</a>
            <a href="#">Russia</a>
            <a href="#">USA</a>
            <a href="#">France</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/menu">menu</a>
            <a href="/table">table</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">Đại học Bách Khoa TP.HCM</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">Le Nguyen Minh Hieu</a>
            <a href="#">Nguyen Ngoc Nguyen</a>
            <a href="#">Le Thanh Sang</a>
            <a href="#">Pham Hoang Truong</a>
            <a href="#">Ho Ngoc Thanh</a>
            <a href="#">Le Xuan Nghia</a>
            <a href="#">Nguyen Trong Phuc</a>
        </div>

    </div>

    <div class="credit"><span>Shiba Team</span> </div>

</section>

<!-- footer section ends -->




<!-- Add Bootstrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>

</html>