<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a href="#">india</a>
            <a href="#">japan</a>
            <a href="#">russia</a>
            <a href="#">USA</a>
            <a href="#">france</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/menu">menu</a>
            <a href="/table">table</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+ 0906995989</a>
            <a href="#">Gmail: phuc.nguyen1905@gmail.com</a>
            <a href="#">Đại học Bách Khoa TP.HCM</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/trongphuc1st/">Nguyen Trong Phuc</a>
            <a href="https://www.facebook.com/profile.php?id=100015979112098">Le Nguyen Minh Hieu</a>
            <a href="https://www.facebook.com/guitaristnnn">Nguyen Ngoc Nguyen</a>
            <a href="https://www.facebook.com/thanhsang.le.35110418">Le Thanh Sang</a>
            <a href="https://www.facebook.com/hoangtruong.pham.5">Pham Hoang Truong</a>
            <a href="https://www.facebook.com/hongocthanh2001">Ho Ngoc Thanh</a>
            <a href="https://www.facebook.com/le.nghia.11111">Le Xuan Nghia</a>
        </div>

    </div>

    <div class="credit"> Shiba Team </div>

</section>

<!-- footer section ends -->




<!-- Add Bootstrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>

</html>